.defect-card {
  width: 100%;
  transition: background-color 0.5s ease;
  /* Smooth transition for background color change */
}

.updated {
  animation: flashBackground;
  /* Animation for background color change */
}

@keyframes flashBackground {
  0% {
    background-color: white;
  }

  50% {
    background-color: red;
  }

  100% {
    background-color: white;
  }
}
